<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits</title>
</head>
<body>
    <h1>Liste des Produits</h1>

    {% for produit in produits %}
    <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px;">
        <h2>{{ produit.name }}</h2>
       
        <p>Prix : {{ produit.prix }} €</p>
        <p>Description : {{ produit.description }}</p>
        <p>Stock disponible : {{ produit.stock }}</p>
        <form method="post" action="{% url 'ajouter_au_panier' produit.id %}">
            {% csrf_token %}
            <label for="quantity_{{ produit.id }}">Quantité :</label>
            <input type="number" name="quantity" id="quantity_{{ produit.id }}" value="1" min="1" max="{{ produit.stock }}">
            <button type="submit">Ajouter au Panier</button>
        </form>
    </div>
    {% empty %}
    <p>Aucun produit disponible.</p>
    {% endfor %}
</body>
</html>
